@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import "tailwindcss";

.staatliches-font {
  font-family: "Staatliches", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
}

.helvetica-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
